$btn-font-weight: 500;
$btn-font-size: 1rem;

$btn-close-color: $light;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");

$btn-font-family: 'Open Sans', 'Segoe UI', Roboto, Arial;

// Create a button in discord style
.btn {
  background-color: $secondary;
}

.btn:hover {
  background-color: #565d66 !important;
}
